.Rproj.user
.Rhistory
.RData
.Ruserdata
/rsconnect
*.Rproj
.DS_Store
dat/~$*

dat/cacheData.RData
dat/estGlobal.RData
dat/menuData.RData
dat/dataList.RData

dat/Global/*.*

dat/Australia/*.*
dat/Canada/*.*
dat/China/*.*
dat/US/*.*
dat/India/*.*
dat/Germany/*.*
dat/Italy/*.*
dat/Colombia/*.*
dat/Japan/*.*
dat/Peru/*.*
dat/Switzerland/*.*

csvData/
