.Rproj.user
.Rhistory
.RData
.Ruserdata
/rsconnect
*.Rproj
.DS_Store
dat/~$*

dat/cacheData.RData
dat/estGlobal.RData
dat/menuData.RData
dat/dataList.RData

dat/Global/cacheData.RData
dat/Global/menuData.RData
dat/Global/estDeconv.RData

dat/Australia/cacheData.RData
dat/Australia/menuData.RData
dat/Australia/estDeconv.RData
dat/Canada/cacheData.RData
dat/Canada/menuData.RData
dat/Canada/estDeconv.RData
dat/China/cacheData.RData
dat/China/menuData.RData
dat/China/estDeconv.RData
dat/US/cacheData.RData
dat/US/menuData.RData
dat/US/estDeconv.RData

