section {
  width: 90%;
  margin: auto;
}

.left-panel {
  max-width: 49%!important;
  background: #F0F0F0;
  float: left;
  padding: 20px;
}

.right-panel {
  max-width: 49%!important;
  width: 100%;
  float: right;
}


  .styled-select     { display:none;   }
  .styled-select.alt { display:block;  }

  .chosen-choices {
    border-color: rgb(9, 65, 131)!important;
    border-radius: 3px;
    background-image:none!important;
  }

  .chosen-single {
    border-color: rgb(9, 65, 131)!important;
    background-image:none!important;
    height:43px!important;
  }

  .chosen-single > span {
    font-family: 'Source Sans Pro', 'Gill Sans', 'Trebuchet MS', Arial, sans-serif!important;
    color: rgb(9, 65, 131)!important;
    font-size: 18px;
    margin-top: 7px;
  }

  .chosen-choices:hover {
    background-color: #f2f5f9;
  }

    .chosen-search-input.default {
      color: rgb(9, 65, 131)!important;
      font-family: 'Source Sans Pro', 'Gill Sans', 'Trebuchet MS', Arial, sans-serif!important;
    }

    .search-choice {
      border-color: rgb(9, 65, 131)!important;
      box-shadow:none;
      background-image:none!important;
      background-color:white!important;
    }

    .search-choice > span {
      color: rgb(9, 65, 131);
    }

    .active-result {
      color: rgb(9, 65, 131);
    }


